@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: "poppins";
}

body {
  background-color: #ffffff;
}

/************************* HEADER SECTION ***********************/

.headerSection{
    height: max-content;
    width: 100vw;
    background-color: #636C79;
}

/* ---------    HEADER SECTION  -->> Navbar Section     ---------*/

nav {
  width: 90vw;
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  color: #ffffff;
}


.nav-logo{
    height: 46px;
    width: 120px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  width: 35vw;
  margin-left: 15vw;
}

.nav-button {
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  border: 1px solid #c9c6c6e2;
  color: #ffffff;
}

.hamburger{
    height: 40px;
    width: 40px;
    fill: #ffffff;
}


/* ---------    HEADER SECTION  -->> Header Content Section     ---------*/

.header-content{
    width: 100vw;
    height: max-content;
    margin: auto;
    margin-top: 1.5rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: row;
}

                            /* header left section */
.header-left{
    padding: 0vh 0vw;
    align-self: center;
}

.header_img{
    width: 50vw;
    height: 45vh;
    clip-path: inset(0vh 10vw 0vh 10vw);
}

.header-right{
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    color: #ffffff;

}

.header-heading{
    font-size: 51px;
    font-weight: 600;
    line-height: 60px;
}

.header-description, .header_email{
    color: #c8c8c8;
}

.header_icon{
    color: rgb(17, 17, 17);
    width: 2vw;
    padding: auto;
    text-align: center;
}

.header_form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 33vw;
    height: 4vh;
    padding: .35rem;
    background-color: #ffffff;
}
.header_email{
    width: 22vw;
    height: 3vh;
    padding: .35rem;
    border: none;
}

.header_button{
    float: right;
    padding: 0.5rem 1.26rem;
    background-color: #9cba9ce2;
    border: none;
    color: #ffffff;
  
}

/************************* MAIN CONTENT SECTION ***********************/

.content-container{
    /* background-color: rgb(175, 190, 129); */
    margin: 7vh 9vw;
}


/* ---------   MAIN CONTENT SECTION  -->> Section-2 ( Stats )   ---------*/
.section2{
    height: max-content;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 3rem;
}

.section2-heading{
    font-size: 45px;
    width: 45vw;
    line-height: 55px;
    font-weight: 600;

}
.section2_description{
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.statistics{
    font-size: 40px;
}

.stat-img{
    width: 75vw;
}

/* ---------   MAIN CONTENT SECTION  -->> Section-3 ( Services they providing )   ---------*/

.section3{
    width: 75vw;
    height: max-content;
    margin: auto;
    margin-top: 10rem;
    /* background-color: rgb(95, 138, 137); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 3.5em;
    align-items: center;
    text-align: center;
}

.section3_description{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    gap: 5em;
}

.section3imgs{
    height: 300px;
    width: 360px;
}

.section3_description_parts{
    overflow: hidden;
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3.5em;

}

.section3_description_part2{
    flex-direction: row-reverse;
    gap: 3rem;
}

.section3_description_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    }

.section3_description_left h1{
    font-size: 40px;
    font-weight: 600;

}

.section3_description_left p{
   line-height: 2rem;

}

.section3_button{
    width: 10vw;
    padding: 0.5rem 1.26rem;
    background-color: #9cba9ce2;
    border: none;
    color: #ffffff;
  
}


.section4{
    width: 75vw;
    margin: auto;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.section4_part1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.section4_part2{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section4images{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5.2rem;
}

.TeamMembers{
    font-size: 15px;
    margin-top: -2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2.5rem;
}

img[alt="section4img"]{
    
    width: 280px;
    height: 300px;
    clip-path: inset(0vh 0vw 5vh 0vw);
}

/* footer section */

footer{
    height: 50vh;
    background-color: #10181D;
}

.footerpart1 {
    width: 80vw;
    height: 14vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    border-bottom: 1px solid#535353;
  }

.footer_logo{
    height: 46px;
    width: 120px;
  }

.social_logos{
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center; 
    text-align: center;
}

.social_bg{
    text-align: center;
    height: 46px;
    width: 46px;
    background-color: #5d5d5d67;
    border-radius: 50%;
}

.center{
    margin-top: 30%;
}


.footerpart2 {
    width: 80vw;
    height: 30vh;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
  }

.footer_list{
    display: flex;
    height: 20vh;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
    color: #948c8c;
  }

.list-active{
    color: #ffffff;
    font-size: 1.1em;
    font-weight: 600;
}

@media screen and (min-width:1500px){
    .hamburger{
        display: none;
    }
}

@media screen and (min-width:1025px) and (max-width:1500px) {
    /*nav-bar  */

    .nav-logo{
        height: 42px;
        width: 110px;
    }

    .hamburger{
        display:none;
    }

    /* header content section */

    .header-heading{
        font-size: 42px;
        font-weight: 600;
        line-height: 52px;
    }

    /* section 2 */

    .section2-heading{
        font-size: 40px;
        width: 45vw;
        line-height: 55px;
        font-weight: 600;
    
    }

    .statistics{
        font-size: 36px;
    }

    /* section - 3 */

    .section3{
        width: 75vw;
        height: max-content;
        margin: auto;
        margin-top: 15rem;
        /* background-color: rgb(95, 138, 137); */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 3.5em;
        align-items: center;
        text-align: center;
    }

    .section3_description_left h1{
        font-size:32px;
        font-weight: 600;
    
    }

    /* section-4 */

    
    .TeamMembers>div>p>br{
        display: none;
     }

    /* footer */

    .footer_logo{
        height: 36px;
        width: 100px;
      }

    .social_bg{
        text-align: center;
        height: 38px;
        width: 38px;
        background-color: #5d5d5d67;
        border-radius: 50%;
    }
}

@media screen and (max-width:1024px) and (min-width:769px) {

    /* wrappers */

    .headerSection{
        height: max-content;
        width: 100vw;
        background-color: #636C79;
        padding: 1rem 0rem;
        padding-bottom: 2.3rem;
    }

    .content-container{
        /* background-color: rgb(175, 190, 129); */
        margin: 7vh 2vw;
    }    

    /* nav-bar */

    .nav-logo{
        height: 36px;
        width: 100px;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        width: 45vw;
        margin-left: 15vw;
        font-size: 14px;
      }
    
    .hamburger{
        display: none;
    }

    .nav-button {
        padding: 0.5rem 2rem;
        background-color: transparent;
        border: 1px solid #c9c6c6e2;
        color: #ffffff;
      }

    /* header-content section */

    .header-content{
       height: max-content;
       margin-top: 1rem;
    }
    
    .header_img{
        width: 490px;
        height: 370px;
    }

    .header-right{
        height: initial;
        justify-content: space-evenly;
        gap: 1rem;
    
    }

    .header-heading{
        font-size: 36px;
        font-weight: 600;
        line-height: 46px;
    }

    .header_form{
    
        padding: .5rem;
        padding-right: .2rem;
    }

    .header_email{
        width: 16vw;
        height: 3vh;
        font-size: 12px;
        padding: .35rem;
        padding-right: 2rem;
        border: none;
    }

    .header_button{
        float: right;
        font-size: 12px;
        padding: 0.5rem 1.5rem;
        background-color: #9cba9ce2;
        border: none;
        color: #ffffff;
      
    }

    /* content-section section 2 */

    .section2{
        height: max-content;
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        gap: 3rem;
    }

    .section2-heading{
        font-size: 36px;
        width: 550w;
        line-height: 45px;
        font-weight: 600;
    
    }

    .section2_description{
        width: 80vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .statistics{
        font-size: 32px;
    }

    .stat_define{
        font-size: 14px;
    }

    .stat-img{
        height: 400px;
    }

    /* section -3 */

    .section3{
        width: 75vw;
        height: max-content;
        margin: auto;
        margin-top: 8rem;
        /* background-color: rgb(95, 138, 137); */
        
    }
    
    .section3-head {
        width: 40vw;
    }

    .section3_description_left{
        gap: 1.25rem;
        }
    

    .section3_description_left h1{
        width: 40vw;
        font-size: 29px;
        line-height: 37px;
        font-weight: 600;
    }

    .section3_description_left p{
        font-size: 14px;
        line-height: 24px;
     
     }

    .section3_button{
        width: max-content;
        padding: 0.5rem 2rem;
        background-color: #9cba9ce2;
        border: none;
        color: #ffffff;
      
    }

    /* section - 4 */

    .section4{
        width: 80vw;
        margin: auto;
        margin-top: 7rem;
        height: max-content;
       
    }

    .section4_part1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: inherit;
       
    }

    .section4_heading{
        width: 20vw;
        font-weight: 600;
    }

    .section4_part1>p{
        width: 45vw;
    }

    .section4_part2{
        gap: 1.2rem;
    }


    img[alt="section4img"]{
        height: 45vh;
        width: 23vw;
        clip-path: inset(0vh 0vw 5vh 0vw);
    }

    .TeamMembers>div>h3{
       font-size: 16px;
       font-weight: 600;
    }

    .TeamMembers>div>p{
        font-size: 12px;
        /* font-weight: 600; */
     }

     .TeamMembers>div>p>br{
        display: none;
     }

     /* footer */

     footer{
        height: 47vh;
        background-color: #10181D;
    }

     .footerpart1{
        height: 12vh;
     }

    .footer_logo{
        height: 36px;
        width: 100px;
    }

    .social_logos{
        width: 22vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center; 
        text-align: center;
    }

    .social_bg{
        text-align: center;
        height: 36px;
        width: 36px;
        background-color: #5d5d5d67;
        border-radius: 50%;
    }

    .footer_list{
        display: flex;
        height: 22vh;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-around;
        color: #948c8c;
        font-size: 14px;
      }

      .list-active{
        color: #ffffff;
        font-size: 14px;
        font-weight: 600;
    }


}

@media screen and (max-width:768px) {

    /* wrappers  */
    body{
        width: 100%;
    }

    .container{
        width: 100%;
    }

    .headerSection{
        height: max-content;
        width: 100vw;
        background-color: #636C79;
    }

    /* nav-bar section */
    nav{
        height: 10vh;
    }

    .nav-list, .nav-button{
        display: none;
    }

    .nav-logo{
        height: 36px;
        width: 100px;
    }

    .nav-right{
        display: flex;
        gap: 1em;
      }

    .hamburger{
        height: 30px;
        width: 30px;
        fill: #ffffff;
    }

    .nav-button {
        display: block;
        font-size: 0.7em;
         padding: 0.4rem 1.2rem;
        
      }

    /* header-section */
    .header-content{
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        align-items: center;
        gap: 2.5rem;
    }

    .header_img{
        width: 600px;
        height: 400px;
    }

    .header-right{
        width: 80vw;
        gap: 1.5rem;
    }

    .header_form{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 60vw;
        height: 4vh;
        padding: .35rem;
        background-color: #ffffff;
        margin: auto;
    }

     .header_email{
        width: 40vw;
        height: 3vh;
        font-size: 12px;
        padding: .35rem;
        border: none;
    }

    .header_button{
        float: right;
        padding: 0.5rem 1.2rem;
        font-size: 10px;
        font-weight: 400;
        background-color: #9cba9ce2;
        border: none;
        color: #ffffff;
      
    }

    /* main content section wrapper */

    .content-container{
        /* background-color: rgb(175, 190, 129); */
        margin: 5vh 2vw;
    }

    /* main content section 2 */

    .section2{
        height: max-content;
        margin: 5rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        gap: 3rem;
    }
    
    .section2-heading{
        font-size: 36px;
        width: 90vw;
        line-height: 48px;
        font-weight: 600;
    
    }
    
    .section2_description{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 0px;
        row-gap: 30px;
        width: 400px;
    }
    
    .statistics{
        font-size: 30px;
    }
    
    .stat-img{
        width: 600px;
    }

    /* section -3  */
    
    .section3{
        width: 75vw;
        height: max-content;
        margin: auto;
        /* margin-top: 15rem; */
        /* background-color: rgb(95, 138, 137); */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 4rem;
        align-items: center;
        text-align: center;
    }

    .section3_description{
        gap: 7em;
    }

    

    .section3_description_parts{
        overflow: hidden;
        width: 90vw;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
    
    }

    .section3imgs{
        height: 300px;
        width: max-content;
    }

    .section3_description_left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        gap: 1.4rem;
        }

    .section3_description_left h1{
        font-size: 24px;
        font-weight: 600;
        
    }

    .section3_button{
        width: max-content;
        padding: 0.5rem 1.26rem;
        background-color: #9cba9ce2;
        border: none;
        color: #ffffff;
      
    }

    /* section - 4 */

    .section4{
        margin: auto;
        margin-top: 5rem;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0rem;
    }

    .section4_part1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: 2rem;
    
    }

    .section4_part2{
    
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: space-between;
    }

    .section4images{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1rem;
    }

    img[alt="section4img"]{
        height: 220px;
        width: max-content;
    }

    .TeamMembers{
        height: max-content;
        width: 250px;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 1rem;
        gap: 9.5rem;
    }

    .TeamMembers>div>h3{
        margin-bottom: 1.2rem;
    }
    
    .TeamMembers>div>p{
        font-size: 15px;
    }

    .TeamMembers>div>p>br{
        display: none;
      
    }

   /* footer section */

   footer{
        background-color: #10181D;
        height: 20vh;
    }

    .footerpart1 {
        width: 90vw;
        height: 8vh;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: #ffffff;
        border-bottom: 1px solid#535353;
    }

    .footer_logo{
        height: 36px;
        width: 100px;
    }

    .social_logos{
        width: 40vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center; 
        text-align: center;
    }

    .social_bg{
        text-align: center;
        height: 34px;
        width: 34px;
        background-color: #5d5d5d67;
        border-radius: 50%;
    }

    .footerpart2 {
        width: 90vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
      }

    .footerpart2>div{
        width: 33%;
        height: 2vh;
    }

    .footer_list{
        display: flex;
        height: 3vh;
      }
    
    

    footer>div>div>ul>li{
        display: none;
    }

    .list-active{
        display: block;
        font-size: 16px;
        font-weight: 500;
    }

}

@media screen and (max-width:540px) {
    
    /* header-section */

    .headerSection{
        height: max-content;
        width: 100vw;
        background-color: #636C79;
    }

    .nav-logo{
        height: 28px;
        width: 84px;
    }

    .hamburger{
        height: 26px;
        width: 26px;
        fill: #ffffff;
    }

    .header-content{
        height: max-content;
        padding: 1.5rem 0rem;
    }

    .header-right{
        width: 85vw;
        text-align: left;
    }
    
    .header-heading{
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
    }

    .header_img{
        width: max-content;
        height: 240px;
    }

    .header_form{
        justify-content: space-between;
        width: 70vw;
        padding: .05rem .25rem;
    }

    .header_email{
        display: none;
    }

    .header_button{
        float: right;
        padding: 0.3rem 1.2rem;
        font-size: 9px;
        font-weight: 400;
        background-color: #9cba9ce2;
        border: none;
        color: #ffffff;
      
    }

    /* section -2  */

    .section2-heading{
        font-size: 26px;
        width: 90vw;
        line-height: 40px;
        font-weight: 600;
    
    }   
    
    .section2_description{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 25px;
        row-gap: 30px;
        width: 350px;
    }
    
    
    .statistics{
        font-size: 20px;
    }

    .stat_define{
        font-size: 14px;
    }
    .stat-img{
        width: max-content;
        height: 240px;
    }

    /* section-4 */

    .section4_part2{
        margin: auto;
        display: flex;
        flex-direction: row;
        gap: 0.75rem;
        justify-content: space-between;
    }

    .TeamMembers{
        height: max-content;
        width: 180px;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 0.8rem;
        gap: 8.5rem;
    }

    
    .TeamMembers>div>h3{
        margin-bottom: 0.7rem;
    }
    
    .TeamMembers>div>p{
        font-size: 14px;
    }

    /* footer */

    .footer_logo{
        height: 30px;
        width: 90px;
    }

    .social_logos{
        width: 42vw;
        
    }

    .social_bg{
        text-align: center;
        height: 20px;
        width: 20px;
        background-color: #5d5d5d67;
        border-radius: 50%;
    }

    .list-active{
        
        font-size: 13px;
        font-weight: 500;
    }


}
